* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inner-app {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  width: 100%;
  min-height: 100vh;
  background-color: beige;
}

.app-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.app-header button {
  padding: 8px 16px;
  width: fit-content;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: rgb(49, 88, 114);
  color: white;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

.websites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: auto;
}

.website-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #00000058;
}

.website-item:last-child {
  border-bottom: none;
}

.website-item .url {
  flex: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.website-item .right,
.website-item .left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.website-item .link {
  cursor: pointer;
  color: rgb(49, 88, 114);
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
}

.website-item .green {
  color: #48d10e !important;
}

.website-item .red {
  color: #f14c1f !important;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.loading p {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

@media (max-width: 680px) {
  .website-item {
    width: 400px;
  }
}
